.git
.github
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
*.log
.DS_Store
Thumbs.db
tests
phpunit.xml
.phpunit.result.cache
dist
build
*.md
!README.md
!DOCKER_COMMANDS.md
.editorconfig
.styleci.yml
.dockerignore
.env
.env.docker
!.env.example
!docker-entrypoint.sh
!supervisord.conf
