button, .btn {
    border-radius: 0;
}

.is-readonly {
    background-color: #e9ecef;
    pointer-events: none;
}

.add-to-cart-btn {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
    color: #fff;
}

.add-to-cart-btn:hover {
    cursor: pointer;
}

.breadcrumb-item a {
    text-decoration: none ;
}
